.list {
  padding: 0;
  margin: 0;
  margin-bottom: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs) 0;
}

.list-item {
  list-style-type: none;

  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-secondary-0);
}

.list-item-container {
  padding: 0.3rem var(--mantine-spacing-xs);

  display: flex;
  justify-content: space-between;
}
