.root {
  border-radius: 5px;
  background-color: var(--mantine-color-secondary-0);
  padding: 0.3rem var(--mantine-spacing-xs);
}
.label {
  opacity: 0.6;
}
.input {
  line-height: var(--mantine-line-height);
  height: var(--mantine-line-height);
  min-height: var(--mantine-line-height);
  font-size: var(--mantine-font-size-md);
  &:disabled {
    cursor: text;
    opacity: 1;
    background-color: transparent;
    color: inherit;
  }

}
/* 

.label {
  font-size: var(--mantine-font-size-sm);

}
.content {
  font-size: var(--mantine-font-size-sm);
  height: var(--input-size);
  min-height: var(--input-height);
  line-height: var(--input-line-height)
} */
