
.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.list-item {
  list-style-type: none;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  &:hover {
    background-color: var(--mantine-color-gray-8);
  }
}
.link {
  display: flex;
  gap: 0 var(--mantine-spacing-md);
}
