.fieldset {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0;

  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-secondary-0);
  padding: 0.3rem var(--mantine-spacing-xs);
}

.input-wrap {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.actions-wrap {
  grid-column: 2;
  white-space: nowrap;
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.footer {
  grid-column: 1 / span 2;
}

