.btn-group-wrap {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    var(--mantine-color-body) 80%,
    rgba(1, 1, 1, 0)
  );

  z-index: 2;
}
.btn-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); */
  padding-bottom: var(--mantine-spacing-sm);
  padding-top: var(--mantine-spacing-lg);
}
