.card {
  list-style-type: none;
  padding: 0.3rem var(--mantine-spacing-xs);
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: var(--mantine-color-secondary-0);

  display: flex;
  justify-content: space-between;
}
.card__left-section {
  display: flex;
  flex-direction: column;
}
.card__right-section {

}

.link {
  text-decoration: none;
  color: inherit;
}
